DataProcessing/Visualization (Python)/schema_xml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="countriess">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="countries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Country" type="xs:string" />
              <xs:element name="Region" type="xs:string" />
              <xs:element name="Population" type="xs:unsignedInt" />
              <xs:element name="Area" type="xs:unsignedInt" />
              <xs:element name="Population_Density" type="xs:decimal" />
              <xs:element name="Coastline" type="xs:decimal" />
              <xs:element name="Net_Migration" type="xs:decimal" />
              <xs:element name="Infant_Mortality" type="xs:decimal" />
              <xs:element name="GDP" type="xs:unsignedShort" />
              <xs:element name="Literacy" type="xs:decimal" />
              <xs:element name="Phones" type="xs:decimal" />
              <xs:element name="Arable" type="xs:decimal" />
              <xs:element name="Crops" type="xs:decimal" />
              <xs:element name="Other" type="xs:decimal" />
              <xs:element name="Climate" type="xs:decimal" />
              <xs:element name="Birthrate" type="xs:decimal" />
              <xs:element name="Deathrate" type="xs:decimal" />
              <xs:element name="Agriculture" type="xs:decimal" />
              <xs:element name="Industry" type="xs:decimal" />
              <xs:element name="Service" type="xs:decimal" />
              <xs:element name="Score" type="xs:decimal" />
              <xs:element name="Support" type="xs:decimal" />
              <xs:element name="Freedom" type="xs:decimal" />
              <xs:element name="Generosity" type="xs:decimal" />
              <xs:element name="Corruption" type="xs:decimal" />
              <xs:element name="Year" type="xs:unsignedShort" />
              <xs:element name="Sex" type="xs:string" />
              <xs:element name="Age" type="xs:unsignedByte" />
              <xs:element name="Suicide_no" type="xs:unsignedShort" />
              <xs:element name="Population_PerYear" type="xs:unsignedInt" />
              <xs:element name="Suicide_rate" type="xs:decimal" />
              <xs:element name="Country_year" type="xs:string" />
              <xs:element name="HDI_year" type="xs:decimal" />
              <xs:element name="GDP_year" type="xs:string" />
              <xs:element name="GDP_capita" type="xs:unsignedInt" />
              <xs:element name="Generation" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>